/**Backgrounds classes*/

.green-three-bg {
  background: $green-three;
  color: $white;
}

.navy-trash-bg {
  background: $navy-trash;
  color: $white;
}

.fresh-fish-bg {
  background: $fresh-fish;
  color: $white;
}

.tropical-bird-bg {
  background: $tropical-bird;
  color: $white;
}

.bloody-bird-bg {
  background: $bloody-bird;
  color: $white;
}

.color-green-bg {
  background: $green-one;
  color: $white;
}

.gay-flame-bg {
  background: $gay-flame;
  color: $white;
}

.pink-shades-bg {
  background: $pink-shades;
  color: $white;
}

.dancing-flamingo-bg {
  background: $dancing-flamingo;
  color: $white;
}

.sapphire-blue-bg {
  background: $sapphire-blue;
  color: $white;
}

.stale-bg {
  background: $stale;
  color: $white;
}

.metal-war-bg {
  background: $metal-war;
  color: $white;
}

.greyhound-bg {
  background: $greyhound;
  color: $white;
}

.grey-goose-bg {
  background: $grey-goose;
  color: $dash-bird;
}

.white-goose-bg {
  background: $white-goose;
  color: $dash-bird;
}

.white-bird-bg {
  background: $white-bird;
  color: $dash-bird;
}

.city-bird-bg {
  background: $city-bird;
  color: $white;
}

.suburban-bird-bg {
  background: $suburban-bird;
  color: $white;
}

.white-bird-bg-o {
  background: $white-bird;
}

.white-bg-o {
  background: $white;
}
