$early-morning: linear-gradient(-180deg, $gay-flame 1%, $red-three 89%);
$eighties: linear-gradient(0deg, $fresh-fish 0%, $party-bird 100%);
$night-ocean: linear-gradient(to left, $tropical-bird, $fresh-fish);
