img#byrd-header {
  width: 5rem;
}

.halli-heading {
  display: block;
  position: absolute;
  width: 100%;
}

.halli-text {
  p {
    color: $white-bird;
    font-size: 3rem;
  }
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 6.5rem;
}

.feed-container {
  .badge {
    z-index: 10;
    right: 0;
    margin: 10px;
  }
  .feed-body {
    background-color: $white-bird;
    #feed-img {
      width: 100%;
      min-height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background-color: $white-bird;
      border: none;
    }
    .feed-text {
      background-color: $white-bird;
      .feed-header,
      p {
        font-size: 0.75rem;
        color: $stale;
        .user-info {
          font-size: 0.75rem;
        }
        div.modal-heading {
          font-size: 1rem;
        }
      }
    }
  }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.75;
}

mat-dialog-container {
  background-color: $white-bird !important;
  box-shadow: none !important;
  img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

ngb-carousel {
  img {
    max-height: 100%;
    max-width: 35rem;
  }
  &.carousel {
    &.slide {
      &:focus {
        outline: none;
      }
      .carousel-inner {
        &:focus {
          outline: none;
        }
      }
      .carousel-indicators {
        li {
          border-radius: 5px;
          width: 8px;
          height: 8px;
        }
        opacity: 1;
        bottom: 90%;
        z-index: 20;
        .indicators-hovered {
          opacity: 1;
        }
        .active {
          background-color: $gay-flame;
        }
      }
    }
  }
}

vg-player {
  width: 100%;
  height: 100%;
  background-color: $white-bird;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.fa-times {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: -20px;
  margin-right: 2rem;
  font-size: 1.125rem;
  bottom: 45px;
  color: $bird-of-prey;
}
