img#byrd-header {
  width: 3rem;
}

.feed-container {
  .masonry-item {
    background-size: cover;
    width: 25rem;
    height: auto;
    &.feed-row {
      &.is-big {
        width: 30rem !important;
      }
      &.is-small {
        width: 17rem;
      }
    }
    .feed-body {
      background-color: $white-bird;
      #feed-img {
        width: 100%;
        height: auto;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: $white-bird;
        border: none;
      }
      .feed-text {
        background-color: $white-bird;
        .feed-header,
        p {
          font-size: 0.75rem;
          color: $stale;
          .user-info {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

vg-player {
  width: 100%;
  height: 100%;
  background-color: $white-bird;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.fa-times {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: -20px;
  margin-right: 2rem;
  font-size: 1.125rem;
  bottom: 45px;
  color: $bird-of-prey;
}
