$byrd-shade-2: 0 10px 40px 0 rgba(62, 57, 107, 0.2),
0 2px 9px 0 rgba(62, 57, 107, 0.2);
$byrd-shade-1: 0 10px 40px 0 rgba(62, 57, 107, 0.07),
0 2px 9px 0 rgba(62, 57, 107, 0.06);
$byrd-shade-3: -2px 4px 22px -3px rgba(205, 209, 228, 0.86);
$inset-byrd-shade-2: inset 0px 8px 24px -6px rgba(0, 0, 0, 0.18);
/**Shadow classes*/

.byrd-shade-1 {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.byrd-shade-2 {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.2), 0 2px 9px 0 rgba(62, 57, 107, 0.2) !important;
}

.byrd-shade-3 {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.byrd-hover-effect {
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.2), 0 2px 9px 0 rgba(62, 57, 107, 0.2);
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.2), 0 2px 9px 0 rgba(62, 57, 107, 0.2);
  transition: ease-in-out .25s box-shadow, ease-in-out .25s transform;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.27), 0 2px 9px 0 rgba(62, 57, 107, 0.26)
  }
}
